<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>

    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>

  <common>
    <logging>
      <factoryAdapter type="Common.Logging.NLog.NLogLoggerFactoryAdapter, Common.Logging.NLog32">
        <arg key="configType" value="INLINE" />
      </factoryAdapter>
    </logging>
  </common>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="console" xsi:type="Console" layout="${date:format=HH\:MM\:ss} ${logger} ${message}" />
      <target name="file" xsi:type="File"
        layout="${longdate} ${logger} ${message}"
        fileName="${basedir}/logs/logfile.txt"
        archiveFileName="${basedir}/archives/log.{#####}.txt"
        archiveAboveSize="10240"
        archiveNumbering="Sequence"
        concurrentWrites="true"
        keepFileOpen="false"
        encoding="iso-8859-2" />

      <target xsi:type="BufferingWrapper"
        name="BufferedEmail"
        slidingTimeout="false"
        bufferSize="100"
        flushTimeout="1000" >
        <target name="Mail" xsi:type="Mail" html="true" subject="Trello Archiver Log: ${logger}" body="${logger}  ${message}"
             to="YOUR EMAIL HERE"
             from="YOUR EMAIL ERE"
             Encoding="UTF-8"
             smtpUsername=""
             enableSsl="False"
             smtpPassword=""
             smtpAuthentication="Basic"
             smtpServer="smtp.sendgrid.net"
             smtpPort="587" />
        </target>
      </targets>

    <rules>
      <logger name="*" minlevel="Trace" writeTo="console" />
      <logger name="*" minlevel="Trace" writeTo="file" />
      <logger name="*" minlevel="Warn" writeTo="BufferedEmail" />
    </rules>
  </nlog>

  <appSettings>
    <!-- My Trello app key. Go ahead and change it if you want to, but that's not strictly necessary.-->
    <add key="trellokey" value="c6689c7ea55e3f9388fe3e13b28568ce" />
    <!-- Your authorization token for your instance of the service. First run will error out and a url will be in the logs. Navigate to that url to recieve this token from trello.-->
    <add key="trelloauthtoken" value="YOURAUTHTOKENHERE" />
    <!-- List IDs to monitor for aged cards.-->
    <add key="ListIDs" value="listid;listid;listid;" />
    <!-- Days of inactivity before a card is archived.-->
    <add key="daysToArchive" value="14" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>